@page
@model MatanzaBikes.Pages.Motos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Moto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Marca
        </dt>
        <dd class="col-sm-10">
            @{
                var m = Model.Marca.First(m => m.Id == 1);
            }
            @Html.DisplayFor(model => m.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Cilindrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Cilindrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Año)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Año)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Motor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Motor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Bateria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Bateria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Rodado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Rodado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Suspension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Suspension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Frenos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Frenos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moto.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moto.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Moto?.Id">Editar</a> |
    <a asp-page="./Index">Atrás</a>
</div>
